<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMEncodeAndCodeFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59182B481D645BC900842352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59182B641D645BCA00842352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59182B6F1D645BCA00842352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
